body {
  background-image: url(./images/img3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
h1,
h2 {
  font-family: "Merriweather", serif;
}

.blog-header-logo {
  font-family: "Merriweather", serif;
  font-size: 36px;
}

.bg-img {
  background-image: url(./images/img6.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.blog-footer {
  padding: 2.5rem 0;
  text-align: center;
  border-top: 0.05rem solid #e5e5e5;
}
